{
  "presets": ["latest", "react"],
  "plugins": ["add-module-exports", "lodash"],
  "env": {
    "development": {
      "presets": ["react-hmre"]
    },
    "production": {
      "plugins": ["transform-react-constant-elements"]
    }
  }
}
