Thumbs.db
*~
*.log
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
.tags
.idea/
.history/
node_modules/
build/
/.happypack/
/src/img/sprites-build/
/.cache/
coverage
.history/
src/dlls/
/.DS_Store
