doctype html
html(lang="zh-tw" data-git=htmlWebpackPlugin.options.git data-rev=htmlWebpackPlugin.options.rev)
  head
    meta(charset="utf-8")
    title Welcome To Layout List
    meta(name="viewport" content="width=device-width,initial-scale=1")
  body
    #root
